################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.suo
/operationen/src/SetupData/obj/Debug/Interop.IWshRuntimeLibrary.dll
/OpLog.VC.VC.opendb
