################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
*.suo
/operationen/src/SetupData/obj/Debug/Interop.IWshRuntimeLibrary.dll
/OpLog.VC.VC.opendb
/OpLog.VC.db
/operationen/src/Setup/Versionen/V1.29.18-chirurgie-anycpu/
/operationen/src/Setup/Versionen/V1.29.18-chirurgie-x86/
/operationen/src/Setup/Versionen/V1.29.19-chirurgie-anycpu/
/operationen/src/Setup/Versionen/V1.29.19-chirurgie-x86/
/operationen/src/Setup/Versionen/V1.29.20-chirurgie-anycpu/
/operationen/src/Setup/Versionen/V1.29.20-chirurgie-x86/

/operationen/src/bin/
/operationen/src/obj/

AppFramework/bin/
AppFramework/obj/

Security/bin/
Security/obj/

Utility/bin/
Utility/obj/

Windows/Forms/bin/
Windows/Forms/obj/

operationen/src/OperationenAppFramework/bin/
operationen/src/OperationenAppFramework/obj/

operationen/src/OperationenImport/bin/
operationen/src/OperationenImport/obj/

operationen/src/OperationenImportCSV/bin/
operationen/src/OperationenImportCSV/obj/

operationen/src/OperationenImportCSVUnicode/bin/
operationen/src/OperationenImportCSVUnicode/obj/

operationen/src/OperationenImportIcpm3Op3CSV/bin/
operationen/src/OperationenImportIcpm3Op3CSV/obj/

operationen/src/OperationenImportIcpm3Op3CSVUnicode/bin/
operationen/src/OperationenImportIcpm3Op3CSVUnicode/obj/

operationen/src/OperationenImportIcpm5Op3CSV/bin/
operationen/src/OperationenImportIcpm5Op3CSV/obj/

operationen/src/OperationenImportIcpm5Op3CSVUnicode/bin/
operationen/src/OperationenImportIcpm5Op3CSVUnicode/obj/

operationen/src/OperationenImportIKPM10/bin/
operationen/src/OperationenImportIKPM10/obj/

operationen/src/OperationenImportIKPM10Unicode/bin/
operationen/src/OperationenImportIKPM10Unicode/obj/

operationen/src/OperationenImportImedOne/bin/
operationen/src/OperationenImportImedOne/obj/

operationen/src/OperationenImportMccIsop/bin/
operationen/src/OperationenImportMccIsop/obj/

operationen/src/OperationenImportMccIsopUnicode/bin/
operationen/src/OperationenImportMccIsopUnicode/obj/

operationen/src/OperationenImportOrbis/bin/
operationen/src/OperationenImportOrbis/obj/

operationen/src/OperationenImportOrbisText/bin/
operationen/src/OperationenImportOrbisText/obj/

operationen/src/OperationenImportOrbisTextUnicode/bin/
operationen/src/OperationenImportOrbisTextUnicode/obj/

operationen/src/OperationenImportOrbisUnicode/bin/
operationen/src/OperationenImportOrbisUnicode/obj/

operationen/src/OperationenImportSapCsv/bin/
operationen/src/OperationenImportSapCsv/obj/

operationen/src/OperationenImportSapCsvUnicode/bin/
operationen/src/OperationenImportSapCsvUnicode/obj/

operationen/src/Setup/bin/
operationen/src/Setup/obj/

operationen/src/SetupData/bin/
operationen/src/SetupData/obj/

operationen/src/SetupLauncher/Debug
operationen/src/SetupLauncher/Release

operationen/src/Uninstall/bin/
operationen/src/Uninstall/obj/

/.vs/OpLog

_notInGit/

