<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Operationen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Operationen.Operationen" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Operationen.Properties.Settings>
            <setting name="Operationen_de_operationen_logbuch_www_OperationenWebService"
                serializeAs="String">
                <value>http://www.operationen-logbuch.de/OperationenWebService.asmx</value>
            </setting>
            <setting name="Operationen_localhost_OperationenWebService" serializeAs="String">
                <value>http://localhost:1966/www/OperationenWebService.asmx</value>
            </setting>
        </Operationen.Properties.Settings>
        <Operationen.Operationen>
          
			    <setting name="DatabasePath" serializeAs="String">
				    <value>..\..\..\Program</value>
			    </setting>

			    <setting name="ConnectionString" serializeAs="String">
				    <value>Copy the contents from ConnectionStringSqlServer or ConnectionStringMySql to here</value>
			    </setting>

			    <setting name="ConnectionStringSqlServer" serializeAs="String">
				    <value>Trusted_Connection=Yes;Data Source=localhost\SQLExpress;Initial catalog=Operationen</value>
			    </setting>

			    <setting name="ConnectionStringMySql" serializeAs="String">
				    <value>Server=localhost;Database=Operationen;Uid=root;Pwd=cmaurer;</value>
			    </setting>

			    <setting name="ConnectionStringOracle" serializeAs="String">
				    <value>Data Source=localhost:1521/XE;User Id=operationen;Password=cmaurer;</value>
			    </setting>

			    <setting name="DatabaseType" serializeAs="String">
				    <value>SQLServer</value>
			    </setting>

          <setting name="UICulture" serializeAs="String">
            <value>de-DE</value>
          </setting>

        </Operationen.Operationen>
    </applicationSettings>
</configuration>